apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-auth
stringData:
  connection-string:  "server=public_ip; port=5000; database=weather; user id=db_user_name; password=db_user_password"
